// -----------
//  FONTS
// -----------

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600,700');

$open-sans:  'Open Sans', sans-serif;
$montserrat: 'montserrat', sans-serif;

$light:    300;
$regular:  400;
$semibold: 600;
$bold:     700;
