.building-map-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background: url('/../../../illustrations/map.png') center center;
  background-size: cover;
  opacity: 0.15;
}

.building-details {
  z-index: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.building-name {
  width: 750px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: $bold;
}

.building-address {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: $light;
}

.building-map-btn {
  background-color: transparent;
  padding: 10px 45px;
  font-size: 24px;
  font-weight: $bold;
}

.building-rating {
  height: 180px;
  width: 65%;
  margin: 0 auto;
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: $montserrat;
  border-bottom: 1px solid $border;
}

.building-overall-quality {
  margin-left: 30px;
  font-size: 22px;
  font-weight: $bold;

  .building-overall-quality-value {
    font-size: 86px;
  }
}

@media screen and (max-width: 1124px) {
  .building-rating {
    width: 85%;
  }
}
