.building-map-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background: url('/../../../illustrations/map.png') center center;
  background-size: cover;
  opacity: 0.2;
}

.building-details {
  z-index: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.building-name {
  width: 750px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: $bold;
}

.building-address {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: $light;
}

.building-map-btn {
  background-color: transparent;
  padding: 10px 45px;
  font-size: 24px;
  font-weight: $bold;
}

.building-rating {
  height: 200px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: $montserrat;
}

.building-rating:after {
  content: "";
  width: 90%;
  position: absolute;
  padding-bottom: 250px;
  border-bottom: 1px solid $border;
}

.building-overall-quality {
  font-size: 22px;
  font-weight: $bold;

  .building-overall-quality-value {
    font-size: 86px;
  }
}

.building-average-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .rating-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .single-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 50px;
    font-weight: $bold;

    .rating-box {
      margin-right: 25px;
      color: $green;
    }

  }
}

.building-average-ratings:before {
  content: "";
  height: 200px;
  position: absolute;
  margin-left: -40px;
  border-left: 1px solid $border;
}
