.building-map-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background: url('/../../../illustrations/map.png') center center;
  background-size: cover;
  opacity: 0.2;
}

.building-details {
  z-index: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.building-name {
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: $bold;
}

.building-address {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: $regular;
}

.building-map-btn {
  background-color: transparent;
  padding: 10px 45px;
  font-size: 24px;
  font-weight: $bold;
}

.overall-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid $border;
}

.overall-quality {
  font-size: 22px;
  font-weight: $bold;
  font-family: $montserrat;
  text-align: center;

  .overall-quality-value {
    font-size: 86px;
  }
}

.spinner {
  margin: 35% auto;
  opacity: 0.7;
}
