button {
  font-family: $open-sans;
  background-color: transparent;
  border: none;
}

.btn-base {
  padding: 14px 70px;
  text-align: center;
  font-size: 26px;
}

.btn-default {
  @extend .btn-base;
  background-color: $lavender;
  color: $white;
}

.btn-default-invert {
  @extend .btn-base;
  background-color: $white;
  border: 2px solid $lavender;
  color: $lavender;
}

.btn-green {
  @extend .btn-base;
  background-color: $green;
  color: $white;
}

.btn-green-invert {
  @extend .btn-base;
  background-color: $white;
  border: 2px solid $green;
  color: $green;
}
