.find-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-section-title {
  margin-bottom: 35px;
  font-size: 52px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  width: 490px;
  border: 1px solid $charcoal;
  border-radius: 18px;
  margin-bottom: 35px;
  padding: 12px;
  font-family: $open-sans;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
}

.searchbar:focus {
  outline: none;
  color: $blue;
  text-shadow: 0px 0px 0px $grey;
  -webkit-text-fill-color: transparent;
}

.recent-rating-section:before {
  width: 100px;
  content: "";
  position: absolute;
  left: 0;
  border-top:: 4px solid $lavender;
  margin-top: -43px;
}

.recent-rating-section {
  padding: 40px;
  background-color: $lightGrey;
}

.recent-rating-title {
  font-weight: 600;
  font-size: 18px;
  background-color: $lightGrey;
  margin-bottom: 30px;
}

.recent-rating-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: $slate;
}

.recent-rating-card {
  height: 200px;
  width: 30%;
  background-color: $white;
  margin: 10px;
  padding: 15px;
  overflow: hidden;
  text-decoration: none;
  color: $slate;
  -webkit-box-shadow: 2px 2px 5px -1px rgba(158,156,158,0.59);
  -moz-box-shadow: 2px 2px 5px -1px rgba(158,156,158,0.59);
  box-shadow: 2px 2px 5px -1px rgba(158,156,158,0.59);
}

.recent-rating-card:hover {
  border: 2px solid $lavender;
  text-decoration: none;
  color: $slate;
}

.recent-rating-card-name {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 14px;
  font-family: $montserrat;
  color: $slate;
}

.recent-rating-card-comment {
  text-decoration: none;
  color: $charcoal;
}
