.modal {
	width: 96%;
	margin: 0 auto;
}

.modal-header {
	margin-bottom: 15px
}

.modal-title {
	text-align: center;
}

.modal-content {
	width: 50%;
	margin: 30px auto;
	padding: 10px;
	border: 1px solid #888;
}

.control-label {
	margin-right: 10px;
}

.modal-body {
	text-align: right;
}
