.ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ratings-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ratings-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: $montserrat;
  line-height: 18px;
}

.ratings-bottom-pad {
  margin-bottom: 15px;
}

.rating-value {
  background-color: $white;
  margin-right: 25px;
  padding: 8px;
  font-weight: $bold;
  text-align: center;
}

.rating-name {
  text-transform: uppercase;
  text-align: left;
}

.green-value {
  color: $green;
}

.yellow-value {
  color: $yellow;
}

.orange-value {
  color: $orange;
}

.red-value {
  color: $red;
}

@media (max-width: 962px) {
  .ratings-inner {
    font-size: 12px;
  }

  .ratings-bottom-pad {
    margin-bottom: 8px;
  }
}
