.ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ratings-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.ratings-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 50px;
  font-weight: $bold;
}

.rating-value {
  background-color: $white;
  margin-right: 25px;
}

.rating-name {
  text-transform: capitalize;
}

.green-value {
  color: $green;
}

.yellow-value {
  color: $yellow;
}

.orange-value {
  color: $orange;
}

.red-value {
  color: $red;
}
