.search-results {
  height: 100vh;
  margin-top: -20px;
  padding: 50px;
  background: url('/../../../illustrations/map.png') no-repeat 10% 20%;
}

.search-results-inner {
  height: 100%;
  padding: 40px;
  background: $white;
  border: 2px solid $border;
  font-weight: 600;
  font-size: 18px;
}

.search-results-heading {
  margin: 10px 0 40px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid $border;
}

.search-results-list {
  margin: 20px 0;
  padding: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  padding: 20px;
}
