.search-results-list {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background: url('/../../../illustrations/map.png') no-repeat center center;
}

.theResults {
  font-weight: 600;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid $grey;
  padding: 20px;
  background: $white;
}

.results-heading {
  border-bottom: 2px solid $grey;
  padding: 20px;
  display: flex;
}

.search-results-title {
  padding: 0px;
}

.search-results-found {
  text-align: right;
  font-weight: normal;
  padding-left: 75%;
}
